<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <h1>Regisztráció</h1>
    <form action="/register" method="post">
        <label for="username">Felhasználónév:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Jelszó:</label><br>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Regisztráció">
    </form>
    <p>Már van fiókod? <a href="/login">Jelentkezz be!</a></p>
</body>
</html>
